data/scenario/testing/*
data/scenario/validation/*
data/scenario/training/*
data/graphs/testing/*
data/graphs/validation/*
data/graphs/training/*
!data/graphs/*/.gitkeep
!data/scenario/*/.gitkeep

checkpoints/*

.env
venv
wandb/*

__pycache__/
*.pyc

.vscode/
.idea/

visualizations/scenario_sequence/*.png
visualizations/training/*
visualizations/autoreg/*.png
visualizations/autoreg/gat/*.png
visualizations/vectornet/*.png

src/wandb/*

checkpoints/*
src/autoregressive_model/checkpoints/autoregressive/*
src/autoregressive_model/checkpoints/*
*.pt
*.tfrecord
*.hdf5

src/vectornet/data/training/*
src/vectornet/data/validation/*
src/vectornet/data/testing/*

.github