data/scenario/testing/*
data/scenario/validation/*
data/scenario/training/*
data/graphs/testing/*
data/graphs/validation/*
data/graphs/training/*

.env
wandb/*

__pycache__/
*.pyc

.vscode/
.idea/

visualizations/scenario_sequence/*.png
visualizations/training/*.png